body{
	margin: 0;
	padding: 0;
}

.first {background-color: green;}

#d2 {
    background-color: yellow;
}
div{
	height: 100px;
	width: 300px;
	background-color: red;
	margin: 50px 10px 60px 10px;
}

p:first-line {font-style: italic;} /*Выбор первой строки каждого элемента <p>.*/

h1:before {content: '"';} /*Добавляет элемент с содержимым перед содержимым каждого элемента <h1>.*/

h1:after {content: '"';} /*Добавляет элемент с содержимым после содержимого каждого элемента <h1>.*/

h1 + p {color: green;} /*Выбирает все элементы <p>, которые расположены сразу после элементов <h1>.*/

p:last-child {color: blue;} /*Выбор каждого элемента <p>, который является первым дочерним элементом своего родителя.*/

p:nth-of-type(4n) {margin-bottom: 40px;} /*Выбор каждого элемента <p>, который является вторым дочерним элементом <p> своего родительского элемента.*/

p span {color: red} /*Выбор всех элементов <span> внутри <p>.*/

h1 ~ p {text-indent: 20px;} /*Выбор всех элементов <p>, которым предшествует элемент <h1>.*/

a:link {color: red;} /*Выбор всех не посещенных ссылок.*/

a:visited {color: green;} /*Выбор всех посещенных ссылок.*/

a:hover {color: lightblue;} /*Выбор ссылки при наведении курсора мышки.*/

a:active {color: blue;} /*Выбор активной ссылки.*/